<app-todo-add [nextId]="items.length" (added)="onAdd($event)"></app-todo-add>
<mat-card>
  <mat-card-header>
    <mat-card-title>To do</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let todo of (items | todo: false)">
        <mat-checkbox [(ngModel)]="todo.checked">{{todo.description}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Done</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let todo of (items | todo: true)">
        <mat-checkbox [(ngModel)]="todo.checked">{{todo.description}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>